/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #2f4f4f;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

header .logo {
    font-size: 22px;
    font-weight: bold;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

header ul li a:hover {
    color: #39c0ed;
}

/* HERO / HOME */
.hero {
    background: url('https://source.unsplash.com/1600x900/?village,landscape') 
                no-repeat center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 80px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

.hero p {
    font-size: 22px;
    margin-bottom: 20px;
}

.btn {
    background: #39c0ed;
    padding: 12px 25px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #1a97bd;
}

/* SECTIONS */
.section {
    padding: 70px 20px;
    text-align: center;
    margin-top: 50px;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* GALERI */
.galeri-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.galeri-container img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

/* PEMERINTAH DESA */
.pemdes-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    width: 240px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

.card h3 {
    margin-bottom: 10px;
    color: #2f4f4f;
}

/* FOOTER */
footer {
    background: #2f4f4f;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
.hero-img {
    width: 900px;       /* ubah sesuai kebutuhan */
    height: auto 200px;       /* biar tidak gepeng */
    display: block;
    margin: 0 auto;     /* supaya berada di tengah */
}
/* PARAGRAF ABOUT US */
#about p {
    max-width: 900px;
    margin: 10px auto;
    text-align: justify;
    line-height: 1.7;
    font-size: 18px;
}
